<a href="https://colab.research.google.com/github/pradeekamanickam/python/blob/main/pandas_series1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.__version__

'2.2.2'

# PANDAS SERIES WITH PYTHON LIST

In [ ]:
lst = [1,2,3,4.5]
print(lst)

[1, 2, 3, 4.5]

In [ ]:
series = pd.Series(lst)
print(series)
print(type(series))

0    1.0
1    2.0
2    3.0
3    4.5
dtype: float64
<class 'pandas.core.series.Series'>

In [ ]:
empty = pd.Series ([])

empty

Series([], dtype: object)

NAMING OUR OWN INDEX.

In [ ]:
a= pd.Series(['p','q','r', 's','t'],index=[10,120,12,12,14])
a

10      p
120     q
12      r
12      s
14     05
dtype: object

In [ ]:
a= pd.Series(['p','q','r', 's','t'],index=[10,120,12,12,14],name='alphabets')
a

10     p
120    q
12     r
12     s
14     t
Name: alphabets, dtype: object

In [ ]:
scalar_series=pd.Series(10)
scalar_series

0    10
dtype: int64

In [ ]:
scalar_series=pd.Series(10,index =[1,2,3,4,5])
scalar_series

1    10
2    10
3    10
4    10
5    10
dtype: int64

# PANDAS SERIES WITH PYTHON DICTIONARY

In [ ]:

dict_series = pd.Series({'a':1,'b':2,'c':3,'d':4})
dict_series

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
dict_series[0]

/tmp/ipython-input-1198263229.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dict_series[0]

np.int64(1)

In [ ]:
dict_series[0:3]

a    1
b    2
c    3
dtype: int64

In [ ]:
max(dict_series)

4

In [ ]:
dict_series= pd.Series({'a':[1,2,3],'b':[4,5,6],'c':[7,8,9] })
dict_series

a    [1, 2, 3]
b    [4, 5, 6]
c    [7, 8, 9]
dtype: object