<a href="https://colab.research.google.com/github/pradeekamanickam/python/blob/main/PYTHON_EXP_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
num = int( input( " ENTER A NUMBER :"))
if num % 2 == 0:
  print( "  EVEN")
else:
  print( " ODD")

 ENTER A NUMBER :5
 ODD

In [5]:
a= int( input( " ENTER FIRST NUMBER \n"))
b= int( input( " ENTER SECOND NUMBER \n"))
c= int( input( " ENTER THIRD NUMBER \n"))
if ( a>b and a> c):
  print(" LARGEST = ",a)
elif ( b>c):
   print(" LARGEST = ",b)
else:
   print(" LARGEST = ",c)

 ENTER FIRST NUMBER
5
 ENTER SECOND NUMBER
10
 ENTER THIRD NUMBER
50
 LARGEST =  50

In [9]:
year= int( input ( " ENTER A YEAR : "))
if ( year %400==0) or ( year %4 ==0 and year%100!=0):
  print( " LEAP YEAR")
else:
  print(" NOT  A LEAP YEAR.")

 ENTER A YEAR : 2004
 LEAP YEAR

In [12]:
n= int(input ( " ENTER THE VALUE OF N\n" ))
for i in range( 1,n+1):
  print(i)

 ENTER THE VALUE OF N
5
1
2
3
4
5

In [11]:
n= int(input ( " ENTER THE VALUE OF N\n" ))
sum=0
for i in range( 1,n+1):
  sum= sum+i
print( " SUM= ",sum)

 ENTER THE VALUE OF N
5
 SUM=  15

In [13]:
num = int ( input(" ENTER A NUMBER \n"))
flag = 0
for i in range ( 2,num):
  if( num%i ==0):
    flag = 1
    break

if flag ==0 and num>1:
  print( " PRIME NUMBER")
else:
  print( "NOT A PRIME NUMBER")

 ENTER A NUMBER
5
 PRIME NUMBER

In [14]:
n=int ( input( " ENTER NUMBER \n"))
fact = 1
for i in range ( 1,n+1):
  fact = fact*i
print(" FACTORIAL = ",fact)

 ENTERA NUMBER
5
 FACTORIAL =  120

In [15]:
num = int ( input( " ENTER A NUMBER \n"))
rev = 0
while num >0 :
  digit = num %10
  rev=rev*10+digit
  num = num //10
print("REVERSED NUMBER = ", rev )

 ENTER A NUMBER
50
REVERSED NUMBER =  5

In [16]:
num = int ( input( " ENTER A NUMBER \n"))
temp= num
rev = 0
while num >0 :

  rev=rev*10+ ( num % 10)
  num = num //10
if temp == rev :
  print( " PALINDROME")
else:
  print(" NOT A PALINDROME")

 ENTER A NUMBER
5
 PALINDROME