<a href="https://colab.research.google.com/github/pradeekamanickam/python/blob/main/PYTHON_EXP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

name= input(" ENTER EMPLOYEE NAME\n")
eid= input(" ENTER EMPLOYEE ID\n")
hours= int(input(" ENTER HOURS WORKED\n"))
wage= float( input( " ENTER HOUSLY WAGE\n"))
gross=hours* wage
tax= gross* 0.10
net=  gross-tax
print( "\n-----SALARY SLIP----")
print("Name =",name)
print(" ID:",eid)
print(" Groass salary", gross)
print( " Tax :", tax)
print( "Net salary :", net)

 ENTER EMPLOYEE NAME
PRIYA
 ENTER EMPLOYEE ID
1005
 ENTER HOURS WORKED
5
 ENTER HOUSLY WAGE
800

-----SALARY SLIP----
Name = PRIYA
 ID: 1005
 Groass salary 4000.0
 Tax : 400.0
Net salary : 3600.0

In [2]:
p= float( input( " ENTER PRINCIPAL\n"))
r= float( input( " ENTER RATE \n"))
t= float( input( " ENTER TIME \n"))
si = ( p* r*t) /100
ci= p* ( 1+r /100)**t-p
print (" SIMPLE INTEREST= ", si )
print( "  COUMPOUND INTEREST = ",ci)

 ENTER PRINCIPAL
9000
 ENTER RATE
80
 ENTER TIME
80
 SIMPLE INTEREST=  576000.0
  COUMPOUND INTEREST =  2.3770751815456532e+24

In [3]:


c= float( input( " ENTER TEMPERATURE IN CELCIUS \n"))
f = ( c* 9/5 )+ 32
print( " TEMPERATURE IN FAHRENHEIT =",f)

 ENTER TEMPERATURE IN CELCIUS
70
 TEMPERATURE IN FAHRENHEIT = 158.0

In [6]:
a= int( input(" ENTER FIRST NUMBER: \n"))
b= int( input( " ENTER SECOND NUMBER: \n"))
a= a+b
b= a-b
a= a-b
print( " AFTER SWAPPING \n")
print( " a= ",a)
print(" b= ",b)

 ENTER FIRST NUMBER:
110
 ENTER SECOND NUMBER:
45
 AFTER SWAPPING

 a=  45
 b=  110