<a href="https://colab.research.google.com/github/pradeekamanickam/python/blob/main/python_exp03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ATTENDENCE VERIFICATION USING LIST

In [24]:
students= input (" ENTER PRESENT STUDENTS \n").split()
name =input ( " ENTER STUDENT NAME TO CHECK  \n")
if name in students:
    print ( name, " IS PRSENT")
else:
    print ( name, " IS ABSENT")

 ENTER PRESENT STUDENTS
priya pradee madhu
 ENTER STUDENT NAME TO CHECK
priya
priya  IS PRSENT

# BUS SEAT BOOKING STATUS USING LIST

In [25]:
=booked = list (map( int,input(" ENTER BOOKED SEATS \n").split()))
seat = int (input( " ENTER THE SEART NUMBER \n"))
if seat in booked :
   print( " SEAT ALREADY BOOKED ")
else:
    print ( " SEAT AVAILABLE ")

 ENTER BOOKED SEATS
1 2 3
 ENTER THE SEART NUMBER
3
 SEAT ALREADY BOOKED

# STUDENTS MARKS ANALYSIS USING TUPLE

In [26]:
marks= tuple( map( int, input( "ENTER MARKS\n").split()))
flag=0
for m in marks:
  if m< 40 :
    flag = 1
    break

if flag == 0:
  print( " STUDENT PASSED ALL SUBJECTS")
else:
  print( " STUDENT FAILED IN ONE OR MORE SUBJECTS")

ENTER MARKS
55
 STUDENT PASSED ALL SUBJECTS

# MONTHLY TEMPERATURE ANALYSIS USING TUPLE

In [27]:
temp= tuple( map( float, input( "ENTER TEMPERATURES\n").split()))
print("THE  MAXIMUM TEMPERATURE IS ", max(temp))

ENTER TEMPERATURES
55
THE  MAXIMUM TEMPERATURE IS  55.0

# EVENT REGISTRATION USING SET

In [28]:
participants = set(( input( " ENTER PARTICIPANTS NAMES \n").split()))
print("TOTAL UNIQUE PARTICIPANTS = ",len(participants))

 ENTER PARTICIPANTS NAMES
priya pradee madhu
TOTAL UNIQUE PARTICIPANTS =  3

# ONLINE COURSE ENROLLMENT COMPARISION USING SETS

In [29]:
python= (set( input( " ENTER PYTHON STUDENTS NAMES \n").split()))
java= (set( input( " ENTER JAVA STUDENTS NAMES \n").split()))

common = python &java
print("STUDENTS ENROLLED IN BOTH JAVA AND PYTHON :",common)

 ENTER PYTHON STUDENTS NAMES
priya pradee madhu
 ENTER JAVA STUDENTS NAMES
priya pradee muthu
STUDENTS ENROLLED IN BOTH JAVA AND PYTHON : {'priya', 'pradee'}

# LIBRARY BOOK AVAILABILITY USING LIST

In [30]:
BOOKS=input ("ENTER THE AVAILABLE BOOKS \n").split()
req= input(" ENTER THE BOOK NAME: ")

if req in BOOKS:
    print("BOOK AVAILABLE")
else:
    print("BOOK NOT AVAILABLE")

ENTER THE AVAILABLE BOOKS
 C C
 ENTER THE BOOK NAME:
BOOK NOT AVAILABLE

DUPLICATE PHONE NUMBER DETECTION USING SET

In [31]:
PHONES = (input("ENTER THE PHONE NUMBERS \n").split())
print(PHONES)
if len(PHONES) == len(set(PHONES)):
    print("NO DUPLICATES FOUND")
else:
    print("DUPLICATES NUMBER FOUND")

ENTER THE PHONE NUMBERS
12345
['12345']
NO DUPLICATES FOUND

# SHOPPING CART VALIDATION USING LIST

In [34]:
stock = set(input("ENTER THE STOCK \n").split())
cart=input ( "ENTER THE CART ITEMS : \n").split()

for item in cart:
    if (item) not in stock:
        print(item,"IS NOT AVAILABLE")
    else:
        print(item,"IS AVAILABLE")

ENTER THE STOCK
cofee rice chocolate icecream
ENTER THE CART ITEMS :
icecream coffee
icecream IS AVAILABLE
coffee IS NOT AVAILABLE

# EXAMINATION RANK LIST USING TUPLE

In [33]:
ranks = tuple( input( " ENTER RANK HOLDERS \n").split())
print("topper = ", ranks[0])

 ENTER RANK HOLDERS
priya pradee madhu
topper =  priya